<mat-toolbar color="secondary">
  <mat-toolbar-row class="container">
    <a mat-button  routerLink="/">Home</a>
    <a mat-button *ngIf="authService.isLoggedIn()" routerLink="/cars">Cars</a>
    <a mat-button *ngIf="authService.isLoggedIn()"  routerLink="/car/add">Add Car</a>
    <a mat-button *ngIf="authService.isLoggedIn()" routerLink="/aboutme">About Me</a>
    <a mat-button *ngIf="!authService.isLoggedIn()" routerLink="/register">Register</a>
    <a mat-button *ngIf="!authService.isLoggedIn()" routerLink="/login">Login</a>
    <div>
    </div>
    <app-logout>  </app-logout>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">

  <router-outlet></router-outlet>
</div>